@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body{
    background-color: black;
    text-align: center;
    background-size: cover;
    color: #F4E1C7;
}

.bg-nav {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(12,12,12, 1)), url('../files/vasvari.jpg');
    height: 80%;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.btn{
    color: white;
    width: 50%;
}

.btn-fooldal {
    width: fit-content;
    position: absolute;
    left: 5%;
    top: 5%;
}

/* @media screen and (max-width: 767px) {
    .mobile {margin-bottom:20px;}
    } */
@media screen and (max-width: 767px) {
    .mobile {min-height:50vh;}
    .btn-fooldal {
        width: min-content;
    }
    .btn-fooldal-szoveg {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .btn-fooldal {
        top: 1%;
        left: 1%;
        scale: 0.7;
    }
}

.bg-vp {
    background-color: #94347c;
}

.card {
    background-color: #94347c;
}

.current {
    background-color: #94347c;
}

.btn-vp {
    background-color: #f4e1c7;
    color: #000;
    scale: 1;
    transition: .25s;
}
h1 {
    text-shadow: 2px 3px rgba(148, 52, 124, .5);
}

.elem{
    display: inline-block;
    width: 15vw;
 height: 60vh;
 margin: 10px;
}

.terem{
 background-color: white;
 border: 5px solid rgb(44, 39, 39);
 border-radius: 20px;
 width: 15vw;
 height: 40vh;
display: inline-block;
background-repeat: no-repeat;
background-size: cover;
box-shadow: 3px 3px rgba(44, 39, 39, 0.562);
}


.terem:hover {
    transition: 1s;
    transform: scale(0.8) rotate(-15deg);
    cursor: pointer;
    
}

label{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 0 auto;
    color: white;
}

#teljeskepkeret{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.904);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#teljeskepkeret img{
    max-height:100%;
}

#kilep,#balra,#jobbra,#kovetkezoTerem,#elozoTerem{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#kilep{
    bottom: 5%;
    right: 50%;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);;
}

#kovetkezoTerem {
    bottom: 5%;
    right: 45%;
}

#elozoTerem {
    bottom: 5%;
    left: 44%;
}

#balra, #jobbra {
    font-size: 60px;
    top: 50%;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);;
}

#balra{
    left: 5%;
    padding: 20px;
}

#jobbra{
    right: 5%;
    padding: 20px;
}

img{
    display: block;
}

#visszaGomb{
    margin-left: 20px;
    color:#F4E1C7 ;
    float: left;
    background-color: #994779;
    padding: 10px 20px;
    border-radius: 25px; 
}